{% extends 'layout_twocol.html' %}
{% load i18n %}
{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
    <h4>{{ user.get_full_name }}</h4>
    <table>
        <tr>
            <td width='130px'>{% trans 'Username' %}</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td width='130px'>{% trans 'e-Mail' %}</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td width='130px'>{% trans 'Gender' %}</td>
            <td>{{ user.profile.gender|default:_('Not Specified') }}</td>
        </tr>
        <tr>
            <td width='130px'>{% trans 'Birthdate' %}</td>
            <td>{{ user.profile.birthdate|date:'d M Y'|default:_('Not Specified') }}</td>
        </tr>
        <tr>
            <td width='130px'>{% trans 'Register Time' %}</td>
            <td>{{ user.date_joined|date:'d M Y' }}</td>
        </tr>
        <tr>
            <td>{% trans 'Last Login Time' %}</td>
            <td>{{ user.last_login|date:'d M Y H:i' }}</td>
        </tr>
    </table>
    <div>
        <a href='{% url user_posts user.username %}'>
            {% trans 'Show User Posts' %}
        </a>
    </div>
{% endblock %}